html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 240px;
}

.robot {
  width: 320px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.robot-body {
  width: 320px;
  z-index: 1;
  position: absolute;
  bottom: -154px;

}

.robot-brain {
  width: 46px;
  z-index: 2;
  transform: translateX(-5%);
  left: 5%
  position: relative;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  z-index: 3;
  left: 20%;
  transform: translateX(-20%);
}

.robot-head-left {
  left: 0;
  top: 0;
}

.robot-head-right {

}
